@addTagHelper *, GyunboxCore
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TagHelperDemo</title>
</head>
<body>
    <h3>이메일 링크</h3>
    <el>help</el>
    <el>ceo</el>

    <h3>유닉스 시간변경기</h3>
    <unix-time-converter>1462004724</unix-time-converter>
    <hr />
    <unix-time-converter Formatter="yyyy년MM월dd일">1462004724</unix-time-converter>
</body>
</html>
