
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script>
        //$(function () {
        //    $.getJSON('/api/BoardSummaryApi', function (data) {
        //        var str = '<dl>';
        //        $.each(data, function (index, entry) {
        //            str += '<dt>' + entry.title + '</dt><dd>' + entry.name + '</dd>';
        //        });

        //        str += '</dl>';
        //        $('#print').html(str);
        //    });
        //});
    </script>
</head>
<body>
</body>
</html>
