/* 공통 */
html, body {
    height: 100% !important;
}

.baseForm {
    height: 100%;
}

.blind {
    display: none;
}

table {
    border-collapse: collapse;
}

.tbl_base {
    width: 1200px;
    border: 1px solid #d2d2d2;
    margin: auto;
}

    .tbl_base td {
        height: 40px;
        text-align: center;
        line-height: 40px;
        /*border-bottom: 1px solid #d2d2d2;
    border-right:1px solid #d2d2d2;*/
    }

    .tbl_base tr:last-child td {
        border-bottom: none;
    }

    .tbl_base tr td:last-child {
        border-right: none;
    }
/* Write.aspx */
.container.write {
    width: 1200px;
    margin: auto;
    height: 700px;
}

    .container.write .input_type1 {
        border: 1px solid #B5B5B5;
        height: 40px;
        padding: 5px 0 5px 10px;
        font-size: 15pt;
        box-sizing: border-box;
    }

    .container.write .con_cat {
        width: 100%;
        height: 50px;
    }

        .container.write .con_cat select {
            border: 1px solid #d2d2d2;
            height: 40px;
            width: 200px;
            color: #A5A5A5;
            padding: 5px;
            font-size: 15px;
        }

        .container.write .con_cat option {
            padding: 5px;
        }

    .container.write .con_top {
    }

    .container.write .con_mid {
        background-color: #ffffff;
    }

    .container.write .con_bot {
        height: 70px;
        margin-top: 20px;
    }

        .container.write .con_bot .btn.save {
            width: 100px;
            float: right;
            cursor: pointer;
        }

    .container.write .con_mid #ir1 {
        width: 1198px;
        height: 520px;
    }

    .container.write .con_top #title {
        margin-bottom: 30px;
    }

/* list.aspx */

.tbl_base.list {
    background-color: #ffffff;
    width:100%;
}

    .tbl_base.list .hide_mobile {
        visibility:hidden;
    }

.tbl_base td{
    min-height:50px;
}

.tbl_base .fst {
    color: #ED6668;
    font-weight: bold;
    width:10%;
}

    .tbl_base .sec {
        text-align: left;
    }


    .tbl_base.list td a {
        color: #000000;
    }

        .tbl_base.list td a:hover {
            text-decoration: underline;
        }

/* detail.aspx */
.board_wrap {
    width: 100%;
}

    .board_wrap .board_content {
        width: 1200px;
        margin: auto;
        border: 1px solid #d2d2d2;
        padding: 30px;
        box-sizing: border-box;
        background-color: #ffffff;
    }

        .board_wrap .board_content .btn_wrap {
            width: 340px;
            display: block;
            float: right;
            height: 70px;
        }

            /*
        .board_wrap .board_content .btn_wrap {
            width: 100%;
            height: 50px;
            display: block;
        }*/
            .board_wrap .board_content .btn_wrap .btn {
                float: right;
                line-height: 35px;
            }

        .board_wrap .board_content .content {
        }

            .board_wrap .board_content .content .content_tit {
                height: 180px;
                text-align: center;
                display: block;
            }

                .board_wrap .board_content .content .content_tit span {
                    width: 100%;
                    display: inline-block;
                }

                    .board_wrap .board_content .content .content_tit span.tit_category {
                        color: #3DB39E;
                        font-weight: bold;
                    }

                    .board_wrap .board_content .content .content_tit span.tit_post {
                        font-size: 40px;
                        margin-top: 10px;
                        font-weight: bold;
                        height: 50px;
                        line-height: 50px;
                    }

                    .board_wrap .board_content .content .content_tit span.tit_info {
                        color: #AAAAAA;
                        width: 100%;
                        display: block;
                    }

                        .board_wrap .board_content .content .content_tit span.tit_info .sp_wrap {
                            margin: auto;
                            width: 300px;
                            font-size: 20px;
                            margin-top: 20px;
                        }

                        .board_wrap .board_content .content .content_tit span.tit_info .sp_writer {
                            float: left;
                        }

                        .board_wrap .board_content .content .content_tit span.tit_info .sp_time {
                            float: left;
                        }

            .board_wrap .board_content .content .content_con {
                display: block;
                margin-top: 80px;
                padding-top: 80px;
                border-top: 2px solid #EBEBEB;
            }



        .board_wrap .board_content .btn_wrap .btn {
            width: 100px;
            height: 30px;
            float: left;
            margin-right: 10px;
            border: 1px solid #d2d2d2;
            cursor: pointer;
        }

/* 테블릿 */
@media all and (min-width:768px) {
    /* list.aspx */
   
}

/* pc */
@media all and (min-width:1132px){

    /* list.aspx */
    .tbl_base.list {
        width: 1200px;
    }

        .tbl_base.list .hide_mobile {
            visibility:visible;
        }

    .tbl_base td {
        min-height: 30px;
        border-bottom: 1px solid #d2d2d2;
    }

    .tbl_base .fst {
        color: #ED6668;
        font-weight: bold;
        width: 30px;
    }
   

}