
@{
    ViewData["Title"] = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<script>
    $(document).ready(function () {
        alert("test");
    });
</script>

