
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <h3>loggingdemo 컨트롤러의 about 뷰 페이지</h3>
</body>
</html>
