@model List<GyunboxCore.Models.Tech>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
</head>
<body>
    <ul>
        @foreach(var t in Model)
        {
            <li>@t.Title</li>
        }
    </ul>
</body>
</html>
